<!-- top left title -->
<div class="main-title">
  Laarni Astrid
</div>

<!-- nav bar -->
<div class="nav-bar">

  <div class="nav-bar-top">
    <nav-dir name="homeVal" icon="homeIcon" link="homeRoute"></nav-dir>
    <nav-dir name="skillsVal" icon="skillsIcon" link="skillsRoute"></nav-dir>
    <nav-dir name="contactVal" icon="contactIcon" link="contactRoute"></nav-dir>
  </div> <!-- end nav-bar-top -->

  <div class="nav-bar-bottom">
    <nav-dir icon="gitIcon" link="gitRoute"></nav-dir>
    <nav-dir icon="linkedIcon" link="linkedRoute"></nav-dir>
    <nav-dir icon="twitIcon" link="twitRoute"></nav-dir>
  </div> <!-- end nav-bar-bottom -->

</div>
