<main-dir></main-dir>

<div class="pageContent">
  <h2 class="content-title">Skills!</h2>

  <div id="skills-icons">
    <img src="./images/angularjs-150x150.png" />
    <img src="./images/CSS3_Logo-150x150.png" />
    <img src="./images/git-150x150.png" />
    <img src="./images/HTML5_Badge_512-150x150.png" />
    <img src="./images/js-150x150.png" />
    <img src="./images/mongodb-150x150.png" />
    <img src="./images/nodejs-150x150.png" />
    <img src="./images/o.1014-150x150.jpg" />
    <img src="./images/Sass_Logo_Color.svg.png" />
  </div>


</div>
