@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

html, body {
  box-sizing: border-box;
  padding: 0;
  font-family: Verdana, Arial;
}

/**, ::before, ::after {
  margin: 0;
  padding: 0;
}*/

body {

}

ui-view {

}

.main-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* ----- site title ----- */
.main-title {
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  font-size: 50px;
  font-family: 'Kaushan Script', Verdana, Arial;
}

/* ----- nav bar ----- */
.nav-bar {
  width: auto;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /*float: right;*/
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}


.nav-bar-top {
  margin-top: 10px;
}

.nav-bar-top div {
  width: auto;
  height: auto;
  margin: 5px auto 5px auto;
  display: flex;
  flex-direction: column;

}

.nav-bar-bottom {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  padding-left: 15px;
}

.nav-bar-bottom i {

}

.nav-media {
  display: none;
}

/* ----- page content ----- */
.pageContent {
  width: 80%;
  height: 80%;
  /*position: absolute;*/
  /*top: 55%;
  left: 45%;*/
  /*margin: -40% 0 0 -40%;*/
  /*border: 5px grey solid;*/

  padding-top: 25px;
  padding-left: 5%;
  /*display: flex;*/

  /*display: flex;*/
  /*justify-content: center;
  margin: auto;*/
  margin-top: 5%;
}

.content-title {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/* ---------- contact stuff below ---------- */

.contact {
  /*width: 100%;*/
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin-top: 5%;
}

.contact-form {
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.form-top-left {
  display: flex;
  flex-direction: column;
}

.form-top-left input {
  width: 275px;
  margin: 15px;
  border: none;
  border-bottom: 5px black solid;
  /*background: #E0DCF5;*/
  background: rgb(255, 0, 0, 0);
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
}

.form-top-right {

}

.form-top-right textarea {
  width: 275px;
  height: 168px;
  margin: 10px;
  border: none;
  border-bottom: 5px black solid;
  border-right: 5px black solid;
  /*background: #E0DCF5;*/
  background: rgb(255, 0, 0, 0);
  font-size: 16px;
  border-radius: 5px;
  /*rows: 10;*/
}

.form-bottom {

}

.form-bottom button {
  margin: 5px;
  font-size: 16px;
}

/* ---------- ---------- ---------- ---------- */
/* ---------- media queries ---------- */
@media screen and (max-width: 450px) {
  .main-wrapper {
    max-width: 100%;
    padding: 20px;
  }

  /* ----- site title ----- */
  .main-title {
    padding-left: 0;
  }

  /* ----- nav bar ----- */
  .nav-bar {
    padding: 2px;
  }

  .nav-bar a {

  }

  .nav-bar-top {
    display: none;
  }

  .nav-bar-top div {

  }

  .nav-bar-bottom {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
  }

  .nav-bar-bottom i {

  }

  .nav-media {
    display: flex;
    padding-top: 10px;
  }


  /* ----- page content ----- */
  .pageContent {
    padding-top: 50px;
  }

  .content-title {

  }

  /* ---------- contact stuff below ---------- */

  .contact {

  }

  .contact-form {

  }

  .form-top {

  }

  .form-top-left {

  }

  .form-top-left input {

  }

  .form-top-right {

  }

  .form-top-right textarea {

  }

  .form-bottom {

  }

  .form-bottom button {
  }

}
