/* ---------- ---------- ---------- ---------- */
/* ---------- media queries ---------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 736px) {
  .main-wrapper {
    max-width: 100%;
    padding: 20px;
  }

  /* ----- site title ----- */
  .main-title {
    font-size: 125px;
  }

  /* ----- nav bar ----- */
  .nav-bar {

  }

  .nav-bar a {

  }

  .nav-bar-top {
    display: none;
  }

  .nav-bar-top div {

  }

  .nav-bar-bottom {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
  }

  .nav-bar-bottom i {
    font-size: 115px;
  }

  .nav-media {
    font-size: 45px;
    display: flex;
    padding-top: 25px;
  }


  /* ----- page content ----- */
  .pageContent {
    padding-top: 100px;
    /*padding: 200px auto 100px auto;*/
    /*margin: 150px auto 25px auto;*/
  }

  .content-title {
    font-size: 60px;
    padding-left: 60px;
    margin: 0;
  }

  /* ---------- contact stuff below ---------- */

  .contact {

  }

  .contact-form {

  }

  .form-top {

  }

  .form-top-left {

  }

  .form-top-left input {

  }

  .form-top-right {

  }

  .form-top-right textarea {

  }

  .form-bottom {

  }

  .form-bottom button {
  }

  /* ----- circles ---- */
  .circle-holder {
    width: auto;
    height: auto;
    /*min-height: 1200px;*/
    position: relative;
  }

  .circle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: -150px 0 0 -150px;
    transform: none;
    z-index: -1;
  }

  .c1 {
    top: 250px;
    left: 425px;
  }

  .c2 {
    top: 650px;
    left: 425px;
  }

  .c3 {
    top: 1050px;
    left: 425px;
  }

  .c1:hover, .c2:hover, .c3:hover {
    width: 450px;
    height: 450px;
    margin: -225px 0 0 -225px;
  }

  /* ----- pulse ----- */
  @-webkit-keyframes pupulselse {
      0% { -webkit-transform: scale(1); }
      50% { -webkit-transform: scale(1.2); }
      100% { -webkit-transform: scale(1); }
  }
  @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
  }
  .pulse {
      -webkit-animation: pulse 15s ease infinite;
      animation: pulse 15s ease infinite;
  }



}
