/* ---------- ---------- ---------- ---------- */
/* ---------- media queries ---------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 500px) {
  .main-wrapper {
    max-width: 100%;
    /*padding: 20px;*/
    margin: 0;
  }

  /* ----- site title ----- */
  .main-title {
    width: 630px;
    font-size: 120px;
  }

  /* ----- nav bar ----- */
  .nav-bar {
    /*display: none;*/
    font-size: 30px;
  }

  .nav-bar a {

  }

  .nav-bar-top {

    /*width: 100%;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;*/
  }

  .nav-bar-top div {

  }

  .nav-bar-top i {
    font-size: 115px;
  }

  .nav-bar-bottom {
    /*width: 100%;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;*/
    padding-bottom: 35px;
  }

  .nav-bar-bottom i {
    font-size: 115px;
  }

  .nav-media {
    /*width: auto;*/
    /*height: auto;*/
    /*padding: 3px 15px 3px 15px;*/
    /*margin: 0;*/
    /*margin-top: -5px;*/
    /*border: 5px solid black;*/
    /*border-radius: 10px;*/
    /*position: absolute;*/
    /*float: right;*/
    /*right: -45px;*/
    /*top: 15px;*/
    /*z-index: 999;*/
    /*font-size: 35px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
  }

  .nav-media p {
    margin: 0;
  }


  /* ----- page content ----- */
  .pageContent {
    width: 83%;
    /*padding-top: 100px;*/
    position: relative;
    top: 175px;
    /*margin: 0;*/
    padding: 0;
    left: 0;
  }

  .content-title {
    font-size: 60px;
    padding-left: 60px;
    margin: 0;
  }

  /* ---------- contact stuff below ---------- */

  .contact {
    margin-left: 50px;
  }

  .contact-form {
  }

  .form-top {
    flex-direction: column;
  }

  .form-top-left {

  }

  .form-top-left input {
    width: 575px;
    margin-bottom: 30px;
    font-size: 36px;
  }

  .form-top-right {

  }

  .form-top-right textarea {
    width: 585px;
    margin: auto auto 30px 40px;
    font-size: 36px;
    height: 360px;
  }

  .form-bottom {

  }

  .form-bottom button {
    font-size: 36px;
    margin-right: 25px;
  }

  /* ---------- sketches images ---------- */
  .sketch-wrapper {

  }

  .sketch-img {
    width: 600px;
    height: 500px;
  }


  /* ---------- circles ---------- */
  .circle-holder {
    width: auto;
    height: auto;
    /*min-height: 1200px;*/
    position: relative;
  }

  .circle {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: -150px 0 0 -150px;
    transform: none;
    z-index: -1;
  }

  .c1 {
    top: 250px;
    left: 425px;
  }

  .c2 {
    top: 650px;
    left: 425px;
  }

  .c3 {
    top: 1050px;
    left: 425px;
  }

  .c1:hover, .c2:hover, .c3:hover {
    width: 450px;
    height: 450px;
    margin: -225px 0 0 -225px;
  }

  /* ----- pulse ----- */
  @-webkit-keyframes pupulselse {
      0% { -webkit-transform: scale(1); }
      50% { -webkit-transform: scale(1.2); }
      100% { -webkit-transform: scale(1); }
  }
  @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
  }
  .pulse {
      -webkit-animation: pulse 15s ease infinite;
      animation: pulse 15s ease infinite;
  }



}
