.sketch-wrapper {
  /*margin-top: 5%;*/
  margin: 25px auto auto auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.sketch-img {
  width: 300px;
  height: 250px;
  margin: 10px;
  background-size: cover;
}
